.jtable_header{
    background-color: blue;
}

.jtable_input{
    width: 100%;
    height: 100%;
    border-width: 0ch;
}

.jtable_table{
    table-layout:fixed; 
    width: 98%;
    overflow-y: scroll;
}

.jtable_table td { overflow: hidden; }

#table_container{
    position:fixed;
    overflow-y: scroll;
    height: 60%;
}

.jtable_header_mirror{
    background-color: white;
    z-index: 1;
}

.jtable_table_content_div{
    margin-top: 21px; /* would like to make this dynamic*/
}

th {
    background: white;
    position: -webkit-sticky;
    table-layout: fixed;
    color: white;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

th.jtable_filter{
    background-color: white;
    position: sticky;
    table-layout: fixed;
    color: black;
    top: 40px; /* Don't forget this, required for the stickiness */

}
#other_div
{
    top:80%;
    position: fixed;
}

#fixed_divss{
    position: fixed;
}
