<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPTable demo</title>
  </head>

  <body>
    <div id="fixed_div">
      <h1> My animal reserve </h1>

    </div>
    <div id="table_container">

    </div>
    {% load static %}
    <script src={% static 'rptable/json_data.js' %}></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src={% static 'rptable/rptable.js' %}></script>
    <script src={% static 'rptable/rptable_filters.js' %}></script>
    <script src={% static 'rptable/rptable_sorter.js' %}></script>
    <script src={% static 'rptable/rptable_agg.js' %}></script>
    <script src={% static 'rptable/rptable_editor.js' %}></script>
    <script src={% static 'rptable/rpgraph.js' %}></script>
    <script src={% static 'rptable/main.js' %}></script>
    <link rel="stylesheet" type="text/css" href="{% static 'rptable/styles/rptable.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'rptable/styles/rpgraph.css' %}">
    <!-- <img src="{% static 'my_app/example.jpg' %}" alt="My image"> -->
    
    <div id="canvas_div">
      <!-- <canvas id="myChart"></canvas>-->
    </div>
    
  </body>
</html>