.rpgraphColumn{
    margin-top: 1%;
    padding: 10px;
    background-color: aliceblue;
    /* it seems like this is not with respect to the parent element */
    height: 49%;
}

.rpgraphColumn.left{
    width: 68%;
}

.rpgraphColumn.right{
    width: 30%;
}

#myChart{
    width: 97%;
    height: 90%;
}

#canvas_div{
    height: 50%;
}